<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <% if (content !== null) { %>
      <ol>
        <% for(var i in content) { %>
          <% var obj = content[i]; %>
          <li>
            <a href="<%= obj.link %>"><%= obj.title %></a>
          </li>
        <% } %>
      </ol>
    <% } %>
  </main>
</body>
</html>