<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <p><%- content %></p>
    <form action="/hello/post" method="post">
      <input type="text" name="message">
      <input type="submit" value="送信">
    </form>
  </main>
</body>
</html>