<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Mini BBS</title>
  <link rel="stylesheet" href="./style.css">
  <script>
    function init() {
      var id = localStorage.getItem('id');
      if (id === null) {
        location.href = './login';
      }

      document.getElementById('id').textContent = 'ID:' + id;
      document.getElementById('id_input').value = id;
    }
  </script>
</head>
<body onload="init();">
  <header>
    <h1>掲示板</h1>
  </header>
  <div role="main">
    <p>※メッセージは最大10個まで保管されます。</p>
    <form action="/" method="post">
      <p>
        <span id="id"></span>
        <input type="hidden" id="id_input" name="id" value="">
      </p>
      <p>
        <input type="text" name="msg">
        <input type="submit" value="送信">
      </p>
    </form>

    <hr>

    <table style="width: 85%;">
      <% for(var i in data) { %>
        <%- include('data_item', {val:data[i]}) %>
      <% } %>
    </table>
  </div>
</body>
</html>