<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <p><%- content %></p>
    <table style="width: 85%;">
      <% for(var key in data) { %>
        <%- include('data_item', {key: key, val: data[key]}) %>
      <% } %>
    </table>
  </main>
</body>
</html>