<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%=title %></title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <header>
    <h1><%=title %></h1>
  </header>
  <div role="main">
    <p><%=content %></p>
    <table>
      <% for(var key in data) { %>
        <%- include('data_item', {key:key, val:[data[key]]}) %>
      <% } %>
    </table>
  </div>
</body>
</html>